<!-- <div class="cardBox">
    <div class="card">
      <div>
       <div class="numbers"></div>
      <div class="cardName">Create Request</div>
     </div>
     <div class="iconBx">
       <ion-icon name="document-text-outline"></ion-icon>
     </div>
    </div>
    </div> -->
<div class="form">
  <div class="formcard">
    <div class="cardHeader">
      <h2>Create Request</h2>
    </div>
    <form action="#">
    <div class="formBox">
      <div class="input-box">
        <span class="input-details">Full Name</span>
        <input type="text" placeholder="Enter your Full Name..." required>
      </div>
      <div class="input-box">
        <span class="input-details">UserName</span>
        <input type="text" placeholder="Enter your User Name..." required>
      </div>
      <div class="input-box">
        <span class="input-details">Email</span>
        <input type="email" placeholder="Enter your Email..." required>
      </div>
      <div class="input-box">
        <span class="input-details">Phone Number</span>
        <input type="number" placeholder="Enter your Phone Number..." required>
      </div>
      <div class="input-box">
        <span class="input-details">Password</span>
        <input type="password" placeholder="Enter your Password..." required>
      </div>
      <div class="input-box">
        <span class="input-details">Confirm Password</span>
        <input type="password" placeholder="Re-Enter Password..." required>
      </div>
      <div class="input-box">
        <span class="input-details">MEP Code</span>
        <select required>
          <option selected>Select MEP Code</option>
          <option value="893">PCBA - 893</option>
          <option value="1002">TRSTE - 121</option>
          <option value="002">ICBA - 093</option>
        </select>
      </div>
      <div class="input-box">
        <span class="input-details">Date From</span>
        <input type="text" id="dateFrom" ng-model="dateFrom" placeholder="Select From Date...">        
      </div>
      <div class="input-box">
        <span class="input-details">Date To</span>
        <input type="text" id="dateTo" ng-model="dateTo" placeholder="Select To Date...">
      </div>
      <div class="input-box">
        <span class="input-details">Comments</span>
        <textarea rows="3" ng-model="comments" placeholder="Enter Comments..." required></textarea>
      </div>            
    </div>
    <div class="button">
      <input type="submit" value="Create Request"/>
    </div>
  </form>
    </div>
  </div>
</div>